# Visual Studio files
.vs/
x64/
*.vcxproj*
*.sln
Debug/
Release/

# Visual Studio Code files
.vscode/

# Documentation files
docs/

# Build files
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.dir

# Ignoring python cache files
__pycache__/
python*.btr

# Python virtual environment
venv*/
.venv*/

# VMD files
*.xyz

# Executive files
main
test
argos_nia_start
nia_start
nia_start_core
all_tests
*.out
*.o

# ROOT CERN files
*.root

# GMSH files
*.pos
*.msh
*.msh.opt
*.geo

# HDF5 format
*.hdf5
*.h5

# GNU plot files
*.gp

# Data files
*.csv
*.dat

# Archives
*.tar*
*.rar
*.zip

# Caches
*.cache*

# Configs
*.config
*.cfg
*.json

# Drawings
*.vtk

# Pyinstaller files
dist/
*.spec

# My project directories
proj*/*

# Log files
*.log

# Crash log files
crash*.log
crash*.txt

# Excluding help instructions for the compilation for CGAL and Trilinos
!Compiling_CGAL.txt
!Compiling_Trilinos.txt
